* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    "Google Sans", apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 15px;
  font-weight: 550;
  font-style: bold;
  background-color: rgb(29, 29, 29);
  color: white;
}

nav {
  background-color:transparent;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 8px;

}

.navbar {
  list-style: none;
  display: inline-block;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar > li > a {
  display: block;
  padding: 10px 16px;
  color: white;
  text-decoration: none;
  background-color: rgba(153, 217, 234, 0.158);
  border-radius: 10px;
}

.navbar > li > a:hover {
  background-color: rgba(153, 217, 234, 0.308);
}

section {
  margin-bottom: 40px;
}

.home-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 15px; 
  margin-right: 10px;
}

.home-content {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  margin-left: 25px;
}

.contact-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 15px;
}

.contact-links {
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
  margin-right: 10px;
}

.contact-links a {
  color: white;
  text-decoration: none;
}

.navbar > li > a:active {
  background-color: rgba(153, 217, 234, 0.508);
}

.about-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 10px 25px;
  margin-bottom: 20px;
}

.about-text {
  flex: 1;
  text-align: left;
}

.about-content {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  margin-left: 25%;
}


#email:hover {
  text-decoration: underline;
  transform: scale(1.1);
  transition: all 0.13s ease;
}

#instagram:hover {
  background: linear-gradient(
    270deg,
    #833ab4,
    #c13584,
    #e1306c,
    #f77737,
    #fcaf45
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transform: scale(1.1);
  transition: all 0.13s ease;
}

#github:hover {
  background: linear-gradient(90deg, #ffffff, #19007b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transform: scale(1.1);
  transition: all 0.13s ease;
}

#twitter:hover {
  background: linear-gradient(90deg, #ffffff, #1d9bf0, #1da1f2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transform: scale(1.1);
  transition: all 0.13s ease;
}

.contact-links > * {
  transition: transform 0.13s ease;
}

.contact-links > *:hover ~ * {
  transform: translateX(5px);
}

.contact-links:has(#twitter:hover) #email,
.contact-links:has(#instagram:hover) #email,
.contact-links:has(#instagram:hover) #twitter,
.contact-links:has(#github:hover) #email,
.contact-links:has(#github:hover) #twitter,
.contact-links:has(#github:hover) #instagram {
  transform: translateX(-5px);
}

.about-image {
  border-radius: 10px;
  display: block;
  margin: 0;
  width: 125px;
  height: 150px;
  margin-left: 10px;
  margin-right: 25%;
  align-items: justify-content;
  justify-content: center;
}
.about-image:hover {
  transform: scale(1.01);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.215);
  transition: all 0.13s ease;
  transform-origin: center;
}

.contact-content-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: white;
  text-decoration: none;
  font-family: inherit;
  transition: all 0.13s ease;
}

.about-content-divider {
  color: rgba(153, 217, 234, 0.308);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  background: rgba(153, 217, 234, 0.308);
  border: none;
  height: 2px;
}
.project-link {
  display: block;
  width: fit-contain;
  padding: 10px 16px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(254, 254, 254, 0.027);
}

.project-link:hover {
  background-color: rgba(255, 255, 255, 0.077);
  text-decoration: none;
  transform: scale(1.005);
  transform-origin: bottom ;
  transition: all 0.13s ease;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    gap: 10px;
    margin-left: 0;
  }
  .contact-links {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    gap: 10px;
  }
  .about-title,.about-content,.project-link {
    margin-left: 10px;
    margin-right: 10px;
  }
  .about-section {
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
  }
  .about-text {
    text-align: center;
  }
  .about-content {
    text-align: center;
  }
  .about-image {
    margin-left: auto;
    margin-right: auto;
  }
  .about-title {
    font-size: 20px;
  }

}
.about-content-link {
  text-decoration:none;
  color: inherit;
}
