@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    "Space Mono", apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 15px;
  background-color: black;
  color: white;
}

nav {
  background-color: rgb(40, 40, 40);
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar > li {
  position: relative;
}

.navbar > li > a {
  display: block;
  padding: 10px 16px;
  color: white;
  text-decoration: none;
  background-color: rgba(153, 217, 234, 0.158);
  border-radius: 10px;
}

.navbar > li > a:hover {
  background-color: rgba(153, 217, 234, 0.308);
}

.home-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 15px;
}

.home-content {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  margin-left: 25px;
}

.contact-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 15px;
}

.contact-content {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  margin-left: 25px;
}

.navbar > li > a:active {
  background-color: rgba(153, 217, 234, 0.508);
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  top: calc(100%);
  left: 0;
  min-width: 180px;
  background: rgb(40, 40, 40);
  border-radius: 10px;
  padding: 8px;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
  z-index: 10;
}

.dropdown-menu li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 8px;
}

.dropdown-menu li a:hover {
  background-color: rgba(153, 217, 234, 0.308);
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.about-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 15px;
}

.about-content {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  margin-left: 25px;
}

.contact-content a {
  color: white;
  text-decoration: none;
}

#email:hover {
  text-decoration: underline;
}

#instagram:hover {
  background: linear-gradient(
    270deg,
    #833ab4,
    #c13584,
    #e1306c,
    #f77737,
    #fcaf45
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#github:hover {
  background: linear-gradient(90deg, #ffffff, #19007b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#twitter:hover {
  background: linear-gradient(90deg, #ffffff, #1d9bf0, #1da1f2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.about-image {
  border-radius: 50%;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 25px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
.about-image:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgb(255, 255, 255);
  transition: all 0.3s ease;
}
